<div class="item bg--gray-5" style="border-radius: 10px; padding: 5px">
  {% if badge.show_entity_picture %}
  <img
    class="image"
    style="border-radius: 50%; width: 32px; height: 32px"
    src="{{ badge.entity_picture }}"
    alt="{{ badge.friendly_name }}"
  />
  {% endif %}
  <div class="content">
    {% if badge.show_name %}
    <span class="title title--small text-stroke text-stroke--small"
      >{{ badge.friendly_name }}</span
    >
    {% endif %} {% if badge.show_state %}
    <span class="description text-stroke">{{ badge.state }}</span>
    {% endif %}
  </div>
</div>
