<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css" />
    <script src="https://usetrmnl.com/js/latest/plugins.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/pattern-fill.js"></script>
    <script>
      {% include "dashboard.js" %}
    </script>
  </head>
  <body class="environment trmnl">
    <div class="screen" id="screen">
      <div class="view view--full">
        <div class="layout layout--col">
          {% if view.badges %}
          <div class="columns" id="badges">
              {% for badge in view.badges %}
              <div class="column">
                  {% include "badge.html" %}
              </div>
              {% endfor %}
          </div>
          {% endif %}
    
          <div class="stretch-y">
            <div class="columns">
              {% for section in view.sections %}
              <div class="column">
                {% include "section.html" %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% include "titlebar.html" %}
      </div> 
    </div>
  </body>
</html>
