<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css" />
    <script src="https://usetrmnl.com/js/latest/plugins.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/pattern-fill.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script>
      {% include "dashboard.js" %}
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;350;375;400;450;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body class="environment trmnl">
    <div class="screen" id="screen">
      <div class="view view--full">
        {% if view.type == "sections" %} {% include "SectionsView.html" %} {%
        else %} {% include "PanelView.html" %} {% endif %} {% include
        "titlebar.html" %}
      </div>
    </div>
  </body>
</html>
